{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@hello": "./src/components/Hello",
            "@icons": "./src/components/Icons/svgs" // Example for shortening components imports
          }
        }
      ]
    ]
}