{
  "parser": "@babel/eslint-parser",
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
